* {
    box-sizing: border-box;
    font-family: "Roboto";
}

.container header {
    background-color: #08f;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.header-site {
    padding: 22px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}